.contact {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.contact .contact-info {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30%;
}
.contact .contact-info p {
    animation: descriptionAnimation 1s ease forwards;
}
.contact .contact-links {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    animation: linksAnimation 1s ease forwards;
}
.contact-links a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}
.contact-links a svg {
    color: #00CAD8;
}

.contact-form input,textarea {
 display: block;
 width: 500px;
 margin-top: 15px;
 padding: 15px;
 border-radius: 10px;
 border: 1px solid transparent;
 background-color: #222831;
 color: white;
}
.contact-form input{
    animation: inputAnimation 1.2s ease forwards;
}
.contact-form textarea {
    resize: none;
    animation: inputAnimation 1.1s ease forwards;
}
.contact-form input:focus,.contact-form textarea:focus {
    outline: 1px solid #00CAD8;
}
.contact-form button {
    width: 500px;
    height: 50px;
    background-color: #00CAD8;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0px #00CAD8;
    cursor: pointer;
    margin-top: 15px;
    animation: inputAnimation 1.2s ease forwards;
    color: white;
}

@media screen and (max-width:1000px) {
    .contact {
        flex-direction: column;
    }
    .contact-info {
        width: 100% !important;
    }
}
@media screen and (max-width:550px) {
    .contact-info {
        width: 100% !important;
        height: 100%;
    }
    .contact .contact-form input,textarea, .contact button {
        width: 370px !important;
    }
}
@media screen and (max-width:400px) {
    .contact-info {
        width: 100% !important;
        height: 100% !important;
    }
    .hero-links a {
        width: 50px !important;
        height: 50px !important;
    }
    .contact .contact-form input,textarea, .contact button {
        width: 300px !important;
    }
}

@media screen and (max-width:350px) {
    .contact .contact-form input,textarea, .contact button {
        width: 100% !important;
    }
}

@keyframes inputAnimation {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes descriptionAnimation {
    0% {
        opacity: 0;
        transform: translateX(-25px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes linksAnimation {
    0% {
        opacity: 0;
        transform: translateX(25px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}